<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">

<head>

     <title>
     SpringBootDemo
     </title>

</head>

<body>
	<h1>This is Registration Page</h1>
	<h4 th:text="${msg}"></h4>
	
	<form action="/addEmp" method="post">
		<input type="text" name="id" placeholder="Enter id" required><br>
		<input type="text" name="name" placeholder ="Enter name" required><br>
		<input type="text" name="designation"  placeholder ="Enter designation "required ><br>
		<input type="text" name="salary" placeholder="Enter salary" required ><br>
		<input type="reset"> <input type="submit">
	</form>
	
   
</body>

</html>